<div class="container mt-3">
  <h3>Items List</h3>
  <div class="mb-2">
    <input [(ngModel)]="newItem" type="text" placeholder="Add Items" class="myinp" >
    <button class="btn btn-primary ml-1" type="submit" (keyup)="check()" (click)="pushItem()">Add</button>
  </div>

  <ul class="list-group">
    <li 
    *ngFor= "let i of items; let ind =index"  
    class="list-group-item"> 
      {{i}} <span (click)="removeItem(ind)"  class="fa fa-trash-o"></span> 
            <span class="fa fa-pencil" data-toggle="modal" data-target="#exampleModalCenter" (click)="editItemFunc(i)"></span>
            
    </li> 
  </ul>
</div>



  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Edit Content</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <input type="text" [ngModel]="editItem">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="savechange()">Save changes</button>
        </div>
      </div>
    </div>
  </div>