<div class="container mt-3">
  <h3>Items List</h3>
  <div class="mb-2">
    <form id="inp-form" (submit)="formsub(f)" #f="ngForm">
    <input [(ngModel)]="newItem" name="add" #name  type="text" placeholder="Add Items" class="myinp" >
    <button class="btn btn-primary ml-1" type="submit" (keyup)="check()" (click)="pushItem()">Add</button>
    <button type="button" [hidden]="!hide_update_btn" (click)="change()" class="btn btn-warning ml-2">Update</button>
    </form>
  </div>

  <ul class="list-group">
    <li 
    *ngFor= "let i of items; let ind =index"  
    class="list-group-item"> 
    
      {{i}} <span (click)="removeItem(ind)"  class="fa fa-trash-o"></span> 
            <span class="fa fa-pencil" (click)="update(ind); editName()"></span>
            
    </li> 
  </ul>
</div>

 
  